In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('../notebooks/data/data.xlsx')

In [3]:
df.head()

,interest,value,skill,personality trait,career
0,human welfare,empathy,communication,empathyate,social worker
1,social social justice,social social justice,communication,patient,social worker
2,community support,human dignity,assessment,resilient,social worker
3,counseling,respect,communication,empathetic,social worker
4,community support,community support,assessment,adaptable,social worker

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   interest           391 non-null    object
 1   value              391 non-null    object
 2   skill              391 non-null    object
 3   personality trait  391 non-null    object
 4   career             391 non-null    object
dtypes: object(5)
memory usage: 15.4+ KB

In [5]:
df=df.drop_duplicates()

In [6]:
df['career'].unique()

array(['social worker', 'teacher', 'nurse', 'police officer', 'chef',
       'artist', 'musician', 'writer', 'actor', 'photographer',
       'software engineer', 'data analyst', 'product manager',
       'ui/ux designer'], dtype=object)

In [8]:
df['interest'].nunique()

34

In [19]:
df['interest'].value_counts().sort_values(ascending=False)

interest
software development      38
music                     34
writing                   18
user interface design     15
product development       15
education                 15
data analysis             15
photography               12
acting                    12
community support         12
human welfare             10
learning                  10
problem-solving            9
cuisine                    6
social justice             6
community protection       6
culinary arts              6
cooking                    6
social social justice      6
crime prevention           6
food preparation           6
characters                 6
counseling                 6
law enforcement            6
public safety              6
creativity                 5
visual self-expression     5
flavor                     5
wellness                   5
healing                    5
medicine                   5
patient care               5
self-expression            5
visual writing             4
Name: count, dtype: int64

In [18]:
top_5=[x for x in df['interest'].value_counts().sort_values(ascending=False).head(100).index]
top_5

['software development',
 'music',
 'writing',
 'user interface design',
 'product development',
 'education',
 'data analysis',
 'photography',
 'acting',
 'community support',
 'human welfare',
 'learning',
 'problem-solving',
 'cuisine',
 'social justice',
 'community protection',
 'culinary arts',
 'cooking',
 'social social justice',
 'crime prevention',
 'food preparation',
 'characters',
 'counseling',
 'law enforcement',
 'public safety',
 'creativity',
 'visual self-expression',
 'flavor',
 'wellness',
 'healing',
 'medicine',
 'patient care',
 'self-expression',
 'visual writing']

In [9]:
df['value'].value_counts()

value
originality                        26
respect                            23
empathy                            20
quality                            19
efficiency                         18
software development               16
flavor                             15
presentation                       12
emotional resonance                12
artistic self-expression           12
social justice                     12
emotional resonanceal resonance    11
community support                  11
sustainability                     10
continuous improvement             10
collaboration                       9
writing                             6
courage                             6
social social justice               6
human dignity                       6
self-expression                     6
communication                       6
user-centric                        5
data respect                        5
customer-centricity                 5
self-self-expression                5
beauty                              5
ethics                              5
professionalism                     5
equality                            5
patience                            5
knowledge                           5
consistency                         5
perspective                         4
Name: count, dtype: int64

In [17]:
top_5 = [x for x in df['value'].value_counts(
).sort_values(ascending=False).head(100).index]
top_5

['originality',
 'respect',
 'empathy',
 'quality',
 'efficiency',
 'software development',
 'flavor',
 'social justice',
 'artistic self-expression',
 'emotional resonance',
 'presentation',
 'emotional resonanceal resonance',
 'community support',
 'sustainability',
 'continuous improvement',
 'collaboration',
 'human dignity',
 'communication',
 'self-expression',
 'courage',
 'social social justice',
 'writing',
 'user-centric',
 'data respect',
 'customer-centricity',
 'self-self-expression',
 'beauty',
 'ethics',
 'professionalism',
 'equality',
 'patience',
 'knowledge',
 'consistency',
 'perspective']

In [11]:
df['value'].nunique()

34

In [11]:
df['skill'].value_counts()

skill
communication                           34
programming and software development    32
assessment                              30
culinary techniques                     30
music                                   28
visual and fine arts                    25
conflict resolution                     24
acting and performing arts              24
user experience design                  15
writing and editing                     12
photography and visual arts             12
continuous improvement                  11
project management and strategy         10
programming                              9
software development                     6
emergency response                       5
patient education                        5
lesson planning                          5
classroom management                     5
data analysis                            5
attention to detail                      4
Name: count, dtype: int64

In [16]:
top_5 = [x for x in df['skill'].value_counts(
).sort_values(ascending=False).head(100).index]
top_5

['communication',
 'programming and software development',
 'assessment',
 'culinary techniques',
 'music',
 'visual and fine arts',
 'conflict resolution',
 'acting and performing arts',
 'user experience design',
 'photography and visual arts',
 'writing and editing',
 'continuous improvement',
 'project management and strategy',
 'programming',
 'software development',
 'emergency response',
 'patient education',
 'lesson planning',
 'classroom management',
 'data analysis',
 'attention to detail']

In [13]:
df['skill'].nunique()

21

In [13]:
df['personality trait'].value_counts()

personality trait
detail-oriented                       36
creative                              34
patient                               33
adaptable                             29
empathetic                            21
resilient                             18
expressive                            18
collaborative                         17
disciplined                           13
compassionate                         10
analytical                             9
inspiring                              9
curious                                8
stress-resistant                       5
emotional resonanceal                  5
open-minded                            5
empathyate                             5
emotional resonanceal resonanceate     5
brave                                  5
enthusiastic                           5
organised                              5
ethical                                5
dedicated                              4
persistent                             4
organized                              4
communication skill                    4
leadership                             4
problem solver                         4
result-oriented                        4
problem-solver                         3
Name: count, dtype: int64

In [15]:
top_5 = [x for x in df['personality trait'].value_counts(
).sort_values(ascending=False).head(100).index]
top_5

['detail-oriented',
 'creative',
 'patient',
 'adaptable',
 'empathetic',
 'resilient',
 'expressive',
 'collaborative',
 'disciplined',
 'compassionate',
 'analytical',
 'inspiring',
 'curious',
 'ethical',
 'organised',
 'brave',
 'enthusiastic',
 'open-minded',
 'emotional resonanceal resonanceate',
 'empathyate',
 'emotional resonanceal',
 'stress-resistant',
 'dedicated',
 'persistent',
 'organized',
 'communication skill',
 'leadership',
 'problem solver',
 'result-oriented',
 'problem-solver']

In [15]:
df['career'].value_counts()

career
social worker        30
police officer       30
chef                 30
teacher              25
artist               25
nurse                24
musician             24
writer               24
actor                24
photographer         20
software engineer    20
data analyst         20
product manager      20
ui/ux designer       15
Name: count, dtype: int64

C/F ENCODING

In [8]:
df_frequency_map=df['interest'].value_counts().to_dict()
df['interest']=df['interest'].map(df_frequency_map)

In [17]:
df.head()

,interest,value,skill,personality trait,career
0,10,empathy,communication,empathyate,social worker
1,6,social social justice,communication,patient,social worker
2,12,human dignity,assessment,resilient,social worker
3,6,respect,communication,empathetic,social worker
4,12,community support,assessment,adaptable,social worker

In [9]:
df_frequency_map=df['skill'].value_counts().to_dict()
df['skill']=df['skill'].map(df_frequency_map)

In [10]:
df_frequency_map=df['value'].value_counts().to_dict()
df['value']=df['value'].map(df_frequency_map)

In [11]:
df_frequency_map = df['personality trait'].value_counts().to_dict()
df['personality trait']=df['personality trait'].map(df_frequency_map)

In [12]:
df.head()

   interest  value  skill  personality trait         career
0        10     20     34                  5  social worker
1         6      6     34                 33  social worker
2        12      6     30                 18  social worker
3         6     23     34                 21  social worker
4        12     11     30                 29  social worker

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
label_encoder=LabelEncoder()

In [15]:
df['career']=label_encoder.fit_transform(df['career'])

In [16]:
df

     interest  value  skill  personality trait  career
0          10     20     34                  5       9
1           6      6     34                 33       9
2          12      6     30                 18       9
3           6     23     34                 21       9
4          12     11     30                 29       9
..        ...    ...    ...                ...     ...
383        15     15     15                 17      12
384        15      5     15                 17      12
386        15      5     15                  3      12
388        15     15     15                  3      12
389        15      5     15                  3      12

[331 rows x 5 columns]

In [17]:
df['career'].value_counts()

career
9     30
7     30
2     30
11    25
1     25
5     24
4     24
13    24
0     24
6     20
10    20
3     20
8     20
12    15
Name: count, dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331 entries, 0 to 389
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   interest           331 non-null    int64
 1   value              331 non-null    int64
 2   skill              331 non-null    int64
 3   personality trait  331 non-null    int64
 4   career             331 non-null    int32
dtypes: int32(1), int64(4)
memory usage: 14.2 KB

In [19]:
X=df.drop(labels='career' , axis=1 )

In [20]:
Y=df['career']

In [21]:
numerical_columns = ['interest', 'value', 'skill', 'personality trait']

In [22]:

from sklearn.preprocessing import StandardScaler  # HAndling Feature Scaling
from sklearn.preprocessing import OneHotEncoder  # OneHot Encoding
# pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [23]:
# Numerical Pipeline
num_pipeline = Pipeline(
    steps=[
        ('scaler', StandardScaler())

    ]

)


preprocessor = ColumnTransformer([
    ('num_pipeline', num_pipeline, numerical_columns),
    
])

In [24]:
preprocessor

ColumnTransformer(transformers=[('num_pipeline',
                                 Pipeline(steps=[('scaler', StandardScaler())]),
                                 ['interest', 'value', 'skill',
                                  'personality trait'])])

In [25]:
## Train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=42)

In [26]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [27]:
X_train.head()

,num_pipeline__interest,num_pipeline__value,num_pipeline__skill,num_pipeline__personality trait
0,-0.281370,-1.000784,0.750955,0.764140
1,-0.549213,0.784398,-1.478472,1.344786
2,-0.013527,0.933163,0.963282,-1.309596
3,-0.906337,1.081928,0.963282,-0.811899
4,1.682812,-0.256958,0.538629,-0.148304

In [31]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)

In [34]:
clf.fit(X_train,y_train)

DecisionTreeClassifier(random_state=0)

In [36]:
y_pred = clf.predict(X_test)

In [37]:
y_pred

array([ 9, 12,  5,  7,  5,  4,  3, 13, 10, 13,  5,  9, 11,  2, 10,  2,  2,
        1,  5, 13,  2,  2, 11, 13,  9,  2,  3,  6,  6, 11,  3, 12,  5,  7,
        0,  4,  4,  6, 11,  2, 12, 11, 13,  4,  2,  5,  4, 11,  9,  8,  7,
        0, 13,  9,  7,  0,  9,  5,  1,  4,  3,  3, 12,  7,  5,  6,  5,  0,
        5, 10,  9,  9,  6, 11,  0,  4,  7,  2,  1, 10,  2,  1,  8,  0,  8,
       10, 11,  0,  4,  4,  6, 12,  1,  5,  2,  9,  9,  3,  7, 11])

In [39]:
from sklearn.metrics import confusion_matrix

conf_mat = confusion_matrix(y_test, y_pred)
conf_mat

array([[ 6,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0],
       [ 0,  5,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0, 11,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  6,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  9,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0, 11,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  6,  0,  0,  0,  0,  0,  0,  0],
       [ 1,  0,  0,  0,  0,  0,  0,  5,  0,  1,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  3,  0,  0,  0,  3,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  1,  0,  9,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  1,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  4,  1,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  6]],
      dtype=int64)

In [43]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.88

In [40]:
true_positive = conf_mat[0][0]
false_positive = conf_mat[0][1]
false_negative = conf_mat[1][0]
true_negative = conf_mat[1][1]

In [41]:
Accuracy = (true_positive + true_negative) / (true_positive +
                                              false_positive + false_negative + true_negative)
Accuracy

1.0

In [28]:
## Model Training

from sklearn.tree import DecisionTreeRegressor 
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVR
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [29]:
import numpy as np


def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [131]:
# Train multiple models

models = {
    'LinearRegression': LinearRegression(),
    'DecisionTree': DecisionTreeClassifier(),
    'AdaboostRegressor': AdaBoostClassifier(),
    'SGDRegressor': SGDRegressor(),
    'Lasso': Lasso(),
    'ElasticNet': ElasticNet(),
    'SVR': SVR(),
    'Ridge': Ridge(),

}
trained_model_list = []
model_list = []
r2_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    # Make Predictions
    y_pred = model.predict(X_test)

    mae, rmse, r2_square = evaluate_model(y_test, y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:", rmse)
    print("MAE:", mae)
    print("R2 score", r2_square*100)

    r2_list.append(r2_square)

    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 3.594681884131493
MAE: 2.921952055003433
R2 score 27.17521896287597
===================================


DecisionTree
Model Training Performance
RMSE: 0.848528137423857
MAE: 0.12
R2 score 95.9421988773417
===================================


AdaboostRegressor
Model Training Performance
RMSE: 4.365775990588615
MAE: 2.74
R2 score -7.419013052593626
===================================


SGDRegressor
Model Training Performance
RMSE: 3.5949437576191188
MAE: 2.921611565846175
R2 score 27.16460796881879
===================================


Lasso
Model Training Performance
RMSE: 3.8779691555104914
MAE: 3.0234659651950335
R2 score 15.244681061956122
===================================


ElasticNet
Model Training Performance
RMSE: 3.7793454294615216
MAE: 2.9532145199867563
R2 score 19.50082353529332
===================================


SVR
Model Training Performance
RMSE: 3.4590158433736935
MAE: 2.654507269720587
R2 score 32.56841562754895
===================================


Ridge
Model Training Performance
RMSE: 3.5947096845519746
MAE: 2.921425377285004
R2 score 27.1740925392155
===================================